<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr />
    <!-- <a [routerLink]="'/recipes'"> This is /recipes</a>  -->
    <!-- There are no routing directives like [routerLink] used in this shopping-list module so RouterModule is not exported from "shopping-list-routing.module.ts" file -->
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="
          let ingredient of (ingredients$ | async)?.ingredients ?? [];
          let i = index
        "
        (click)="onEditItem(i)"
        >{{ ingredient.name }}({{ ingredient.amount }})</a
      >
    </ul>
  </div>
</div>
